Node-Red/flows_raspberrypi.json
[{"id":"2203770b.f0dea8","type":"tab","label":"Flow 1"},{"id":"c97d2a28.6cfb38","type":"subflow","name":"Presentation","info":"","in":[{"x":50,"y":30,"wires":[{"id":"5e383d06.881b14"}]}],"out":[{"x":641.0000114440918,"y":185.0000057220459,"wires":[{"id":"8cc522d5.1d558","port":0}]},{"x":644.0000114440918,"y":228.00000762939453,"wires":[{"id":"b69bd508.19abd8","port":0}]},{"x":640.0000047683716,"y":130,"wires":[{"id":"da1b3200.f7fa2","port":0}]}]},{"id":"2066f6fb.01093a","type":"subflow","name":"Accueil","info":"","in":[{"x":50,"y":30,"wires":[{"id":"96839de1.3e933"}]}],"out":[{"x":590.0000114440918,"y":130.00000381469727,"wires":[{"id":"1213307d.4f5d8","port":0}]},{"x":589.0000114440918,"y":180.0000057220459,"wires":[{"id":"eb99fd3b.2fef2","port":0}]},{"x":592.0000057220459,"y":73.00000190734863,"wires":[{"id":"dae940ae.48cc5","port":0}]}]},{"id":"bd06be4.25e8a4","type":"subflow","name":"Wikihouse_1","info":"","in":[{"x":50,"y":30,"wires":[{"id":"9d7de192.0870d"}]}],"out":[{"x":677.499963760376,"y":128.24999237060547,"wires":[{"id":"70af3e93.3730d","port":0}]},{"x":645.0000057220459,"y":232,"wires":[{"id":"5bde5e9d.dd7cb","port":0}]}]},{"id":"da08c8a0.f68208","type":"subflow","name":"Wikihouse_2","info":"","in":[{"x":50,"y":30,"wires":[{"id":"34cef5a5.7b285a"}]}],"out":[{"x":655.4999647140503,"y":163.99999237060547,"wires":[{"id":"5570c2ff.de196c","port":0}]},{"x":644.0000047683716,"y":238,"wires":[{"id":"8e84c21a.5e585","port":0}]}]},{"id":"7888cb51.1bc834","type":"subflow","name":"Wikihouse_3","info":"","in":[{"x":50,"y":30,"wires":[{"id":"d04f0cac.455b4"}]}],"out":[{"x":611.250018119812,"y":169.25000381469727,"wires":[{"id":"6dbda48c.52a19c","port":0}]},{"x":605.0000171661377,"y":236.00000762939453,"wires":[{"id":"3a5e5fac.1c3cf","port":0}]}]},{"id":"a63a40e9.8f52a","type":"subflow","name":"Squad_1","info":"","in":[{"x":50,"y":30,"wires":[{"id":"b83d6a44.2b2868"}]}],"out":[{"x":611.999963760376,"y":179.49999237060547,"wires":[{"id":"e61a47f5.14a3f8","port":0}]},{"x":608.0000057220459,"y":246,"wires":[{"id":"f57b0f94.7e688","port":0}]}]},{"id":"ccf552ed.7fb6a","type":"subflow","name":"Squad_2","info":"","in":[{"x":50,"y":30,"wires":[{"id":"e7c7c406.650668"}]}],"out":[{"x":619.9999656677246,"y":149.24999237060547,"wires":[{"id":"f1616bd.cb8ea98","port":0}]},{"x":608.0000057220459,"y":272.00000190734863,"wires":[{"id":"133e757b.a1fe8b","port":0}]}]},{"id":"6e2143.b2d8febc","type":"subflow","name":"Squad_3","info":"","in":[{"x":50,"y":30,"wires":[{"id":"5fb5e09a.bb8cb"}]}],"out":[{"x":626.2500190734863,"y":124.00000286102295,"wires":[{"id":"6ea778b0.f91f88","port":0}]},{"x":633.0000057220459,"y":194.00000095367432,"wires":[{"id":"95ee85bb.59f568","port":0}]}]},{"id":"885e38d1.0d7bc8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"sensor","tz":""},{"id":"f37a3001.53969","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#63a5fe","baseFont":"Helvetica Neue","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue","reset":false},"themeState":{"base-color":{"default":"#2682fd","value":"#63a5fe","edited":true},"page-titlebar-backgroundColor":{"value":"#63a5fe","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#000000","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#63a5fe","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false}}},"site":{"name":"Swisscom Digital-lab Dashboard","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"31dbe207.091f1e","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"b0388897.fe2338","type":"ui_group","z":"","name":"Temperature","tab":"31dbe207.091f1e","disp":true,"width":"12"},{"id":"a5881c1c.bfc7b","type":"ui_group","z":"","name":"Humidity","tab":"31dbe207.091f1e","order":2,"disp":true,"width":"12"},{"id":"828fd44a.f87218","type":"ui_group","z":"","name":"Battery","tab":"31dbe207.091f1e","order":3,"disp":true,"width":"6"},{"id":"4b4e10f3.2f875","type":"ui_tab","z":"","name":"Arkanoid","icon":"dashboard","order":2},{"id":"2b9c8198.1b2d0e","type":"ui_group","z":"","name":"Temperature","tab":"4b4e10f3.2f875","order":1,"disp":true,"width":"6"},{"id":"a4342e89.7be4d","type":"ui_group","z":"","name":"Humidity","tab":"4b4e10f3.2f875","order":2,"disp":true,"width":"6"},{"id":"42bad290.5f8aac","type":"ui_group","z":"","name":"Co2","tab":"4b4e10f3.2f875","order":3,"disp":true,"width":"6"},{"id":"f19c6abf.94c268","type":"ui_tab","z":"","name":"Pac Man","icon":"dashboard","order":3},{"id":"ec8e94cf.454568","type":"ui_group","z":"","name":"Temperature","tab":"f19c6abf.94c268","order":1,"disp":true,"width":"6"},{"id":"551d7d1b.27d134","type":"ui_group","z":"","name":"Humidity","tab":"f19c6abf.94c268","order":2,"disp":true,"width":"6"},{"id":"1b15376c.25cd09","type":"ui_group","z":"","name":"Co2","tab":"f19c6abf.94c268","order":3,"disp":true,"width":"6"},{"id":"186f62f9.f0f9fd","type":"ui_tab","z":"","name":"Pong","icon":"dashboard","order":4},{"id":"19fe3f30.e11bb1","type":"ui_group","z":"","name":"Temperature","tab":"186f62f9.f0f9fd","order":1,"disp":true,"width":"6"},{"id":"7455baa9.99b0f4","type":"ui_group","z":"","name":"Humidity","tab":"186f62f9.f0f9fd","order":2,"disp":true,"width":"6"},{"id":"64452d3f.47bd44","type":"ui_group","z":"","name":"Co2","tab":"186f62f9.f0f9fd","order":3,"disp":true,"width":"6"},{"id":"8f38a869.24c468","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"f3760220.6982b","type":"ui_group","z":"","name":"Coffee","tab":"","order":2,"disp":true,"width":"6"},{"id":"fa4ee07b.23933","type":"ui_group","name":"Group 3","tab":"","order":3,"disp":true,"width":6},{"id":"159eba1e.6aa836","type":"ui_tab","z":"","name":"Accueil","icon":"dashboard","order":6},{"id":"e80abbe4.f4a878","type":"ui_tab","z":"","name":"Presentation","icon":"dashboard","order":7},{"id":"98ae938d.401a1","type":"ui_tab","z":"","name":"Squad 3","icon":"dashboard","order":8},{"id":"b1b8dbf7.101778","type":"ui_tab","z":"","name":"Squad 2","icon":"dashboard","order":9},{"id":"34ea11bd.0828be","type":"ui_tab","z":"","name":"Squad 1","icon":"dashboard","order":10},{"id":"f5c65aef.5cb848","type":"ui_group","z":"","name":"Temperature","tab":"159eba1e.6aa836","order":1,"disp":true,"width":"6"},{"id":"b31fb9f3.ebd868","type":"ui_group","z":"","name":"Humidity","tab":"159eba1e.6aa836","order":2,"disp":true,"width":"6"},{"id":"fe5b0a7c.e63ea8","type":"ui_group","z":"","name":"Light","tab":"159eba1e.6aa836","order":3,"disp":true,"width":"6"},{"id":"53a79fe5.818b","type":"ui_group","z":"","name":"Temperature","tab":"e80abbe4.f4a878","order":1,"disp":true,"width":"6"},{"id":"2bbf7112.63888e","type":"ui_group","z":"","name":"Humidity","tab":"e80abbe4.f4a878","order":2,"disp":true,"width":"6"},{"id":"9900e489.314a58","type":"ui_group","z":"","name":"Light","tab":"e80abbe4.f4a878","order":3,"disp":true,"width":"6"},{"id":"74f23216.83808c","type":"ui_group","z":"","name":"Temperature","tab":"98ae938d.401a1","order":1,"disp":true,"width":"6"},{"id":"7677ecb2.0df9b4","type":"ui_group","z":"","name":"Humidity","tab":"98ae938d.401a1","order":2,"disp":true,"width":"6"},{"id":"6e5cf8e3.1e1e78","type":"ui_group","z":"","name":"Brightness","tab":"98ae938d.401a1","order":3,"disp":true,"width":"6"},{"id":"28ce6163.cca4fe","type":"ui_group","z":"","name":"Temperature","tab":"b1b8dbf7.101778","order":1,"disp":true,"width":"6"},{"id":"a8d2efe6.f988d","type":"ui_group","z":"","name":"Humidity","tab":"b1b8dbf7.101778","order":2,"disp":true,"width":"6"},{"id":"c1b58f1a.6ae57","type":"ui_group","z":"","name":"Brightness","tab":"b1b8dbf7.101778","order":3,"disp":true,"width":"6"},{"id":"8ed7c0e8.96c07","type":"ui_group","z":"","name":"Temperature","tab":"34ea11bd.0828be","order":1,"disp":true,"width":"6"},{"id":"2ef66ef0.a79152","type":"ui_group","z":"","name":"Humidity","tab":"34ea11bd.0828be","order":2,"disp":true,"width":"6"},{"id":"2a81a9a2.004b16","type":"ui_group","z":"","name":"Brightness","tab":"34ea11bd.0828be","order":3,"disp":true,"width":"6"},{"id":"d486a30c.ca40c","type":"ui_group","z":"","name":"Motion","tab":"4b4e10f3.2f875","order":4,"disp":true,"width":"6"},{"id":"2e835ee.e860ba2","type":"ui_group","z":"","name":"Motion","tab":"f19c6abf.94c268","order":4,"disp":true,"width":"6"},{"id":"64bcc4c.df9e63c","type":"ui_group","z":"","name":"Motion","tab":"186f62f9.f0f9fd","order":4,"disp":true,"width":"6"},{"id":"8741826.49c968","type":"ui_tab","z":"","name":"Light","icon":"dashboard","order":11},{"id":"6bea1df7.b95934","type":"ui_group","z":"","name":"Presentation","tab":"8741826.49c968","order":2,"disp":true,"width":"6"},{"id":"598fe045.9fad1","type":"ui_group","z":"","name":"Accueil","tab":"8741826.49c968","order":3,"disp":true,"width":"6"},{"id":"11b2f530.cecc9b","type":"ui_group","z":"","name":"Light","tab":"4b4e10f3.2f875","order":5,"disp":true,"width":"6"},{"id":"294b3150.40bd6e","type":"ui_group","z":"","name":"Light","tab":"f19c6abf.94c268","order":5,"disp":true,"width":"6"},{"id":"73f5b1db.e0aa","type":"ui_group","z":"","name":"Light","tab":"186f62f9.f0f9fd","order":5,"disp":true,"width":"6"},{"id":"e3b010f4.a3c8d","type":"ui_group","z":"","name":"Light","tab":"98ae938d.401a1","order":4,"disp":true,"width":"6"},{"id":"463905db.2f43dc","type":"ui_group","z":"","name":"Light","tab":"b1b8dbf7.101778","order":4,"disp":true,"width":"6"},{"id":"172f139c.33159c","type":"ui_group","z":"","name":"Light","tab":"34ea11bd.0828be","order":4,"disp":true,"width":"6"},{"id":"605cbb86.ac7804","type":"ui_group","z":"","name":"Light","tab":"8741826.49c968","order":1,"disp":true,"width":"6"},{"id":"a23c4308.c595c","type":"ui_group","z":"","name":"Arkanoid","tab":"8741826.49c968","order":4,"disp":true,"width":"6"},{"id":"52607014.8e0a","type":"ui_group","z":"","name":"Pac Man","tab":"8741826.49c968","order":5,"disp":true,"width":"6"},{"id":"32ed00c2.16f7c","type":"ui_group","z":"","name":"Pong","tab":"8741826.49c968","order":6,"disp":true,"width":"6"},{"id":"fa341cb8.f3122","type":"ui_group","z":"","name":"Squad 1","tab":"8741826.49c968","order":7,"disp":true,"width":"6"},{"id":"ce56c7ed.e91e18","type":"ui_group","z":"","name":"Squad 2","tab":"8741826.49c968","order":8,"disp":true,"width":"6"},{"id":"6e09fd3a.c0b304","type":"ui_group","z":"","name":"Squad 3","tab":"8741826.49c968","order":9,"disp":true,"width":"6"},{"id":"e3eedf4d.8b576","type":"http in","z":"2203770b.f0dea8","name":"","url":"/lora","method":"post","swaggerDoc":"","x":88.40910339355469,"y":141.46466445922852,"wires":[["baae796.0bc6f88","701f1fd5.c349c"]]},{"id":"baae796.0bc6f88","type":"http response","z":"2203770b.f0dea8","name":"","x":86.40911865234375,"y":93.91921615600586,"wires":[]},{"id":"bb0e1e68.7ffb6","type":"function","z":"2203770b.f0dea8","name":"Payload Decoder","func":"var i = 0;\nvar temp = 1;\nvar hum = 1;\nvar lum = 1;\nvar co2 = 1;\nvar move = 1;\nvar motion = 1;\nvar batt = 1;\nvar acc = 1;\nvar newMsg ={};\nnewMsg.payload ={};\nnewMsg.payload.payload_hex = msg.payload.DevEUI_uplink.payload_hex;\nnewMsg.payload.DevEUI = msg.payload.DevEUI_uplink.DevEUI;\nnewMsg.payload.Time = msg.payload.DevEUI_uplink.Time;\nwhile (i < 40)\n{\n    var caseTest = msg.payload.DevEUI_uplink.payload_hex.substring(i,i+2);\n    if(caseTest == \"01\" && temp)\n\t{\n\t\tnewMsg.payload.Temperature = parseInt(msg.payload.DevEUI_uplink.payload_hex.substring(i+2,i+6),16)/10.0;\n\t\ti += 6;\n\t\ttemp = 0;\n\t}\n    else if(caseTest == \"02\" && hum)\n\t{\n\t\tnewMsg.payload.Humidity = parseInt(msg.payload.DevEUI_uplink.payload_hex.substring(i+2,i+4),16);\n\t\ti += 4;\n\t\thum = 0;\n\t}\n    else if(caseTest == \"03\" && acc)\n\t{\n\t\tnewMsg.payload.AccelerationX = parseInt(msg.payload.DevEUI_uplink.payload_hex.substring(i+2,i+4),16);\n\t\tnewMsg.payload.AccelerationY = parseInt(msg.payload.DevEUI_uplink.payload_hex.substring(i+4,i+6),16);\n\t\tnewMsg.payload.AccelerationZ = parseInt(msg.payload.DevEUI_uplink.payload_hex.substring(i+6,i+8),16);\n\t\ti += 8;\n\t\tacc = 0;\n\t}\n\telse if(caseTest == '0f' && move)\n\t{\n\t\tnewMsg.payload.Movement = parseInt(msg.payload.DevEUI_uplink.payload_hex.substring(i+2,i+4),16);\n\t\ti += 4;\n\t\tmove = 0;\n\t}\n    else if(caseTest == \"04\" && lum)\n    {\n\t\tnewMsg.payload.Light = parseInt(msg.payload.DevEUI_uplink.payload_hex.substring(i+2,i+6),16);\n\t\ti += 6;\n\t\tlum = 0;\n\t}\n\telse if(caseTest == \"05\" && motion)\n    {\n\t\tnewMsg.payload.Motion = parseInt(msg.payload.DevEUI_uplink.payload_hex.substring(i+2,i+4),16);\n\t\ti += 4;\n\t\tmotion = 0;\n\t}\n    else if(caseTest == \"06\" && co2)\n\t{\n\t\tnewMsg.payload.Co2 = parseInt(msg.payload.DevEUI_uplink.payload_hex.substring(i+2,i+6),16);\n\t\ti += 6;\n\t\tco2 = 0;\n\t}\n    else if(caseTest == \"07\" && batt)\n\t{\n\t\tnewMsg.payload.Battery = parseInt(msg.payload.DevEUI_uplink.payload_hex.substring(i+2,i+6),16)/1000.0;\n\t\ti += 6;\n\t\tbatt = 0;\n    }\n\telse \n\t{\n\t\ti += 2;\n\t}\n}\n\nreturn newMsg;","outputs":1,"noerr":0,"x":440.07579040527344,"y":175.9798126220703,"wires":[["e24250d5.67558","9b258de7.a2688","960eb6b7.32aa48","942947c4.9f2358","bb2c7f07.b7f9d"]]},{"id":"d5430808.939308","type":"ui_chart","z":"2203770b.f0dea8","name":"Temperature","group":"b0388897.fe2338","order":1,"width":"0","height":"0","label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"No Data","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":954.7472686767578,"y":109.29297256469727,"wires":[[],[]]},{"id":"e24250d5.67558","type":"function","z":"2203770b.f0dea8","name":"Temp","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Temperature;\nnewMsg.topic = msg.payload.DevEUI;\nreturn newMsg;","outputs":1,"noerr":0,"x":787.4140930175781,"y":108.87882995605469,"wires":[["d5430808.939308"]]},{"id":"9b258de7.a2688","type":"function","z":"2203770b.f0dea8","name":"Hum","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Humidity;\nnewMsg.topic = msg.payload.DevEUI;\nreturn newMsg;","outputs":1,"noerr":0,"x":788.1968078613281,"y":145.1818618774414,"wires":[["cdff6e58.bf747"]]},{"id":"73637535.cc9b2c","type":"function","z":"2203770b.f0dea8","name":"Temp","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Temperature;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1258.8181283738877,"y":188.9090525309245,"wires":[["c96c9dcf.8800d","535ee857.05e0a8"]]},{"id":"c01d14b3.3d35f8","type":"function","z":"2203770b.f0dea8","name":"Hum","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Humidity;\nnewMsg.topic = msg.payload.DevEUI;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1257.969817691379,"y":223.30302842458093,"wires":[["d572e456.f25f78","f5548b12.1c7938"]]},{"id":"960eb6b7.32aa48","type":"switch","z":"2203770b.f0dea8","name":"","property":"payload.DevEUI","propertyType":"msg","rules":[{"t":"eq","v":"A81758FFFE0301CC","vt":"str"},{"t":"eq","v":"A81758FFFE0304B5","vt":"str"},{"t":"eq","v":"A81758FFFE0304B7","vt":"str"},{"t":"eq","v":"A81758FFFE0303FC","vt":"str"},{"t":"eq","v":"A81758FFFE030461","vt":"str"},{"t":"eq","v":"A81758FFFE03045F","vt":"str"},{"t":"eq","v":"A81758FFFE030425","vt":"str"},{"t":"eq","v":"A81758FFFE030460","vt":"str"},{"t":"else"}],"checkall":"false","outputs":9,"x":452.3636817932129,"y":606.8586654663086,"wires":[["73637535.cc9b2c","c01d14b3.3d35f8","9abeedf4.41741","192ea180.431d8f"],["fc2d76a7.b5aa78","1f17c886.c203f7","ab05c2b0.3eab9","36759cb2.e969a4"],["4fb6eb46.dab5e4","e7071ac3.a821c8","2efd2936.670136","f02bf918.4b32c8"],["17717a82.08c925","36b21698.ba540a","df0c8773.5e40a8"],["a52c29b4.bb5618","88552a61.eca608","64f3c307.8261ec"],["3eb8d700.4e58da","4164157d.ae020c","186e89cc.edb086"],["13a5a01d.e46ad","4f5bdadc.a55034","28359ff2.0951a"],["e4f51f39.d38d2","3048b7dc.fdfdd8","b67b84dd.86e048"],[]]},{"id":"9abeedf4.41741","type":"function","z":"2203770b.f0dea8","name":"Co2","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Co2;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1257.7171897888184,"y":258.35350799560547,"wires":[["f39a5c27.14851","1d0884c5.646d8b"]]},{"id":"fc2d76a7.b5aa78","type":"function","z":"2203770b.f0dea8","name":"Temp","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Temperature;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1256.939500596788,"y":302.2423807779948,"wires":[["657bfd6e.29f2a4","9d9841cf.4d097"]]},{"id":"1f17c886.c203f7","type":"function","z":"2203770b.f0dea8","name":"Hum","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Humidity;\nnewMsg.topic = msg.payload.DevEUI;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1256.0911254882812,"y":338.63633728027344,"wires":[["347d96b9.b394aa","27744b98.4d10a4"]]},{"id":"ab05c2b0.3eab9","type":"function","z":"2203770b.f0dea8","name":"Co2","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Co2;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1255.8384857177734,"y":374.686806678772,"wires":[["2e36874f.280ae8","786ae226.0e97fc"]]},{"id":"cdff6e58.bf747","type":"ui_chart","z":"2203770b.f0dea8","name":"Humidity","group":"a5881c1c.bfc7b","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":945.6818389892578,"y":145.0000171661377,"wires":[[],[]]},{"id":"c96c9dcf.8800d","type":"ui_text","z":"2203770b.f0dea8","group":"2b9c8198.1b2d0e","order":1,"width":0,"height":0,"name":"Temperature","label":"","format":"{{msg.payload}}&degC","layout":"col-center","x":1392.6817016601562,"y":188.0909309387207,"wires":[]},{"id":"d572e456.f25f78","type":"ui_text","z":"2203770b.f0dea8","group":"a4342e89.7be4d","order":0,"width":0,"height":0,"name":"Humidity","label":"","format":"{{msg.payload}}%","layout":"col-center","x":1382.6817016601562,"y":223.0909194946289,"wires":[]},{"id":"f39a5c27.14851","type":"ui_text","z":"2203770b.f0dea8","group":"42bad290.5f8aac","order":0,"width":0,"height":0,"name":"Co2","label":"","format":"{{msg.payload}} PPM","layout":"col-center","x":1372.6817779541016,"y":258.09093475341797,"wires":[]},{"id":"535ee857.05e0a8","type":"ui_chart","z":"2203770b.f0dea8","name":"Temperature","group":"2b9c8198.1b2d0e","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1540.8636474609375,"y":186.90910720825195,"wires":[[],[]]},{"id":"f5548b12.1c7938","type":"ui_chart","z":"2203770b.f0dea8","name":"Humidity","group":"a4342e89.7be4d","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1512.8636627197266,"y":221.90909576416016,"wires":[[],[]]},{"id":"1d0884c5.646d8b","type":"ui_chart","z":"2203770b.f0dea8","name":"Co2","group":"42bad290.5f8aac","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1480.8636627197266,"y":256.9091110229492,"wires":[[],[]]},{"id":"657bfd6e.29f2a4","type":"ui_text","z":"2203770b.f0dea8","group":"ec8e94cf.454568","order":1,"width":0,"height":0,"name":"Temperature","label":"","format":"{{msg.payload}}&degC","layout":"col-center","x":1389.7272338867188,"y":302.18182373046875,"wires":[]},{"id":"347d96b9.b394aa","type":"ui_text","z":"2203770b.f0dea8","group":"551d7d1b.27d134","order":0,"width":0,"height":0,"name":"Humidity","label":"","format":"{{msg.payload}}%","layout":"col-center","x":1379.7271118164062,"y":338.18182373046875,"wires":[]},{"id":"2e36874f.280ae8","type":"ui_text","z":"2203770b.f0dea8","group":"1b15376c.25cd09","order":0,"width":0,"height":0,"name":"Co2","label":"","format":"{{msg.payload}} PPM","layout":"col-center","x":1369.727294921875,"y":374.1818389892578,"wires":[]},{"id":"9d9841cf.4d097","type":"ui_chart","z":"2203770b.f0dea8","name":"Temperature","group":"ec8e94cf.454568","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1537.9091186523438,"y":302,"wires":[[],[]]},{"id":"27744b98.4d10a4","type":"ui_chart","z":"2203770b.f0dea8","name":"Humidity","group":"551d7d1b.27d134","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1507.9091796875,"y":337,"wires":[[],[]]},{"id":"786ae226.0e97fc","type":"ui_chart","z":"2203770b.f0dea8","name":"Co2","group":"1b15376c.25cd09","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1478.9091186523438,"y":374.00000381469727,"wires":[[],[]]},{"id":"4fb6eb46.dab5e4","type":"function","z":"2203770b.f0dea8","name":"Temp","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Temperature;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1255.9091186523438,"y":420.2727355957031,"wires":[["5dffa85d.7d7318","9266ad47.15d0d"]]},{"id":"e7071ac3.a821c8","type":"function","z":"2203770b.f0dea8","name":"Hum","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Humidity;\nnewMsg.topic = msg.payload.DevEUI;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1255.060743543837,"y":456.66669209798175,"wires":[["fb01896c.b5b658","1000743.f88ef8c"]]},{"id":"2efd2936.670136","type":"function","z":"2203770b.f0dea8","name":"Co2","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Co2;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1254.808103773329,"y":492.7171614964803,"wires":[["eba80765.f7a048","9695fda8.1db8b"]]},{"id":"5dffa85d.7d7318","type":"ui_text","z":"2203770b.f0dea8","group":"19fe3f30.e11bb1","order":1,"width":0,"height":0,"name":"Temperature","label":"","format":"{{msg.payload}}&degC","layout":"col-center","x":1388.6968519422744,"y":420.21217854817706,"wires":[]},{"id":"fb01896c.b5b658","type":"ui_text","z":"2203770b.f0dea8","group":"7455baa9.99b0f4","order":0,"width":0,"height":0,"name":"Humidity","label":"","format":"{{msg.payload}}%","layout":"col-center","x":1378.696729871962,"y":456.21217854817706,"wires":[]},{"id":"eba80765.f7a048","type":"ui_text","z":"2203770b.f0dea8","group":"64452d3f.47bd44","order":0,"width":0,"height":0,"name":"Co2","label":"","format":"{{msg.payload}} PPM","layout":"col-center","x":1368.6969129774307,"y":492.2121938069661,"wires":[]},{"id":"9266ad47.15d0d","type":"ui_chart","z":"2203770b.f0dea8","name":"Temperature","group":"19fe3f30.e11bb1","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1536.8787367078994,"y":420.0303548177083,"wires":[[],[]]},{"id":"1000743.f88ef8c","type":"ui_chart","z":"2203770b.f0dea8","name":"Humidity","group":"7455baa9.99b0f4","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1506.8787977430557,"y":455.0303548177083,"wires":[[],[]]},{"id":"9695fda8.1db8b","type":"ui_chart","z":"2203770b.f0dea8","name":"Co2","group":"64452d3f.47bd44","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1477.8787367078994,"y":492.0303586324056,"wires":[[],[]]},{"id":"701f1fd5.c349c","type":"switch","z":"2203770b.f0dea8","name":"","property":"payload.DevEUI_uplink.DevEUI","propertyType":"msg","rules":[{"t":"eq","v":"B4D665FCA2F4F5AA","vt":"str"},{"t":"eq","v":"B4D665FCA2F4F5AB","vt":"str"},{"t":"eq","v":"B4D665FCA2F4F5AC","vt":"str"},{"t":"eq","v":"B81758FFFE0303FC","vt":"str"},{"t":"neq","v":"A81758FFFE0303FE","vt":"str"}],"checkall":"false","outputs":5,"x":256.50001525878906,"y":165.79998779296875,"wires":[["65eeaca1.9c7504"],["65eeaca1.9c7504"],[],["c888429a.0f705"],["bb0e1e68.7ffb6"]]},{"id":"65eeaca1.9c7504","type":"debug","z":"2203770b.f0dea8","name":"","active":false,"console":"false","complete":"false","x":551.4999847412109,"y":127.4000244140625,"wires":[]},{"id":"c888429a.0f705","type":"debug","z":"2203770b.f0dea8","name":"","active":false,"console":"false","complete":"true","x":437.2500114440918,"y":54.4000186920166,"wires":[]},{"id":"17717a82.08c925","type":"function","z":"2203770b.f0dea8","name":"Temp","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Temperature;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1254.199951171875,"y":536.2000122070312,"wires":[["97ae9217.9d3fa","36884f34.a122a"]]},{"id":"36b21698.ba540a","type":"function","z":"2203770b.f0dea8","name":"Hum","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Humidity;\nnewMsg.topic = msg.payload.DevEUI;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1253.3515760633682,"y":572.5939687093098,"wires":[["6fb4116f.e7fb6","576b72c1.e1c63c"]]},{"id":"df0c8773.5e40a8","type":"function","z":"2203770b.f0dea8","name":"Light","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Light;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1249.0988693237305,"y":608.6444511413574,"wires":[["40226d34.e7bf44","5a979ced.11cb14"]]},{"id":"97ae9217.9d3fa","type":"ui_text","z":"2203770b.f0dea8","group":"f5c65aef.5cb848","order":1,"width":0,"height":0,"name":"Temperature","label":"","format":"{{msg.payload}}&degC","layout":"col-center","x":1386.9876844618057,"y":536.1394551595051,"wires":[]},{"id":"6fb4116f.e7fb6","type":"ui_text","z":"2203770b.f0dea8","group":"b31fb9f3.ebd868","order":0,"width":0,"height":0,"name":"Humidity","label":"","format":"{{msg.payload}}%","layout":"col-center","x":1376.9875623914932,"y":572.1394551595051,"wires":[]},{"id":"40226d34.e7bf44","type":"ui_text","z":"2203770b.f0dea8","group":"fe5b0a7c.e63ea8","order":0,"width":0,"height":0,"name":"Light","label":"","format":"{{msg.payload}} LUM","layout":"col-center","x":1366.987745496962,"y":608.1394704182942,"wires":[]},{"id":"36884f34.a122a","type":"ui_chart","z":"2203770b.f0dea8","name":"Temperature","group":"f5c65aef.5cb848","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1535.1695692274307,"y":535.9576314290364,"wires":[[],[]]},{"id":"576b72c1.e1c63c","type":"ui_chart","z":"2203770b.f0dea8","name":"Humidity","group":"b31fb9f3.ebd868","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1505.169630262587,"y":570.9576314290364,"wires":[[],[]]},{"id":"5a979ced.11cb14","type":"ui_chart","z":"2203770b.f0dea8","name":"Light","group":"fe5b0a7c.e63ea8","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1476.1695692274307,"y":607.9576352437336,"wires":[[],[]]},{"id":"a52c29b4.bb5618","type":"function","z":"2203770b.f0dea8","name":"Temp","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Temperature;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1253.7999267578125,"y":656.2000122070312,"wires":[["fd24c641.bc5d08","a6421652.24d148"]]},{"id":"88552a61.eca608","type":"function","z":"2203770b.f0dea8","name":"Hum","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Humidity;\nnewMsg.topic = msg.payload.DevEUI;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1252.9515516493057,"y":692.5939687093098,"wires":[["87c35c23.93cd7","f1843d29.befec"]]},{"id":"64f3c307.8261ec","type":"function","z":"2203770b.f0dea8","name":"Light","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Light;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1252.6989118787978,"y":728.6444381078084,"wires":[["29dd6f4.c506e9","a3a4c54b.e1b1e8"]]},{"id":"fd24c641.bc5d08","type":"ui_text","z":"2203770b.f0dea8","group":"53a79fe5.818b","order":1,"width":0,"height":0,"name":"Temperature","label":"","format":"{{msg.payload}}&degC","layout":"col-center","x":1386.5876600477432,"y":656.1394551595051,"wires":[]},{"id":"87c35c23.93cd7","type":"ui_text","z":"2203770b.f0dea8","group":"2bbf7112.63888e","order":0,"width":0,"height":0,"name":"Humidity","label":"","format":"{{msg.payload}}%","layout":"col-center","x":1376.5875379774307,"y":692.1394551595051,"wires":[]},{"id":"29dd6f4.c506e9","type":"ui_text","z":"2203770b.f0dea8","group":"9900e489.314a58","order":0,"width":0,"height":0,"name":"Light","label":"","format":"{{msg.payload}} LUM","layout":"col-center","x":1366.5877210828994,"y":728.1394704182942,"wires":[]},{"id":"a6421652.24d148","type":"ui_chart","z":"2203770b.f0dea8","name":"Temperature","group":"53a79fe5.818b","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1534.7695448133682,"y":655.9576314290364,"wires":[[],[]]},{"id":"f1843d29.befec","type":"ui_chart","z":"2203770b.f0dea8","name":"Humidity","group":"2bbf7112.63888e","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1504.7696058485244,"y":690.9576314290364,"wires":[[],[]]},{"id":"a3a4c54b.e1b1e8","type":"ui_chart","z":"2203770b.f0dea8","name":"Light","group":"9900e489.314a58","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1475.7695448133682,"y":727.9576352437336,"wires":[[],[]]},{"id":"3eb8d700.4e58da","type":"function","z":"2203770b.f0dea8","name":"Temp","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Temperature;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1253.7999267578125,"y":773.2000122070312,"wires":[["fc73367.7c671c8","b575ff3.703ab"]]},{"id":"4164157d.ae020c","type":"function","z":"2203770b.f0dea8","name":"Hum","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Humidity;\nnewMsg.topic = msg.payload.DevEUI;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1252.9515516493057,"y":809.5939687093098,"wires":[["f01a5e51.cfd18","ee18d1a9.5191"]]},{"id":"186e89cc.edb086","type":"function","z":"2203770b.f0dea8","name":"Light","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Light;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1252.6989118787978,"y":845.6444381078084,"wires":[["46e443b.671ebbc","32a9131b.3ed59c"]]},{"id":"fc73367.7c671c8","type":"ui_text","z":"2203770b.f0dea8","group":"74f23216.83808c","order":1,"width":0,"height":0,"name":"Temperature","label":"","format":"{{msg.payload}}&degC","layout":"col-center","x":1386.5876600477432,"y":773.1394551595051,"wires":[]},{"id":"f01a5e51.cfd18","type":"ui_text","z":"2203770b.f0dea8","group":"7677ecb2.0df9b4","order":0,"width":0,"height":0,"name":"Humidity","label":"","format":"{{msg.payload}}%","layout":"col-center","x":1376.5875379774307,"y":809.1394551595051,"wires":[]},{"id":"46e443b.671ebbc","type":"ui_text","z":"2203770b.f0dea8","group":"6e5cf8e3.1e1e78","order":0,"width":0,"height":0,"name":"Light","label":"","format":"{{msg.payload}} LUM","layout":"col-center","x":1366.5877210828994,"y":845.1394704182942,"wires":[]},{"id":"b575ff3.703ab","type":"ui_chart","z":"2203770b.f0dea8","name":"Temperature","group":"74f23216.83808c","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1534.7695448133682,"y":772.9576314290364,"wires":[[],[]]},{"id":"ee18d1a9.5191","type":"ui_chart","z":"2203770b.f0dea8","name":"Humidity","group":"7677ecb2.0df9b4","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1504.7696058485244,"y":807.9576314290364,"wires":[[],[]]},{"id":"32a9131b.3ed59c","type":"ui_chart","z":"2203770b.f0dea8","name":"Light","group":"6e5cf8e3.1e1e78","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1475.7695448133682,"y":844.9576352437336,"wires":[[],[]]},{"id":"13a5a01d.e46ad","type":"function","z":"2203770b.f0dea8","name":"Temp","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Temperature;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1252.5999755859375,"y":890.2000122070312,"wires":[["1c2c308a.1645ff","2e0f9172.766c0e"]]},{"id":"4f5bdadc.a55034","type":"function","z":"2203770b.f0dea8","name":"Hum","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Humidity;\nnewMsg.topic = msg.payload.DevEUI;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1251.7516004774307,"y":926.5939687093098,"wires":[["c4549deb.58aa2","4069926d.185f2c"]]},{"id":"28359ff2.0951a","type":"function","z":"2203770b.f0dea8","name":"Light","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Light;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1251.4989607069228,"y":962.6444381078084,"wires":[["3ca524e9.89419c","c7c6f58b.ce8268"]]},{"id":"1c2c308a.1645ff","type":"ui_text","z":"2203770b.f0dea8","group":"28ce6163.cca4fe","order":1,"width":0,"height":0,"name":"Temperature","label":"","format":"{{msg.payload}}&degC","layout":"col-center","x":1385.3877088758682,"y":890.1394551595051,"wires":[]},{"id":"c4549deb.58aa2","type":"ui_text","z":"2203770b.f0dea8","group":"a8d2efe6.f988d","order":0,"width":0,"height":0,"name":"Humidity","label":"","format":"{{msg.payload}}%","layout":"col-center","x":1375.3875868055557,"y":926.1394551595051,"wires":[]},{"id":"3ca524e9.89419c","type":"ui_text","z":"2203770b.f0dea8","group":"c1b58f1a.6ae57","order":0,"width":0,"height":0,"name":"Light","label":"","format":"{{msg.payload}} LUM","layout":"col-center","x":1365.3877699110244,"y":962.1394704182942,"wires":[]},{"id":"2e0f9172.766c0e","type":"ui_chart","z":"2203770b.f0dea8","name":"Temperature","group":"28ce6163.cca4fe","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1533.5695936414932,"y":889.9576314290364,"wires":[[],[]]},{"id":"4069926d.185f2c","type":"ui_chart","z":"2203770b.f0dea8","name":"Humidity","group":"a8d2efe6.f988d","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1503.5696546766494,"y":924.9576314290364,"wires":[[],[]]},{"id":"c7c6f58b.ce8268","type":"ui_chart","z":"2203770b.f0dea8","name":"Light","group":"c1b58f1a.6ae57","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1474.5695936414932,"y":961.9576352437336,"wires":[[],[]]},{"id":"e4f51f39.d38d2","type":"function","z":"2203770b.f0dea8","name":"Temp","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Temperature;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1249.7999267578125,"y":1010.2000122070312,"wires":[["e18e6e6d.7892e","8266fc1b.c1cdf"]]},{"id":"3048b7dc.fdfdd8","type":"function","z":"2203770b.f0dea8","name":"Hum","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Humidity;\nnewMsg.topic = msg.payload.DevEUI;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1248.9515516493057,"y":1046.5939687093098,"wires":[["910cb0b3.5539","1885ed0d.99fc53"]]},{"id":"b67b84dd.86e048","type":"function","z":"2203770b.f0dea8","name":"Light","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Light;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1248.6989118787978,"y":1082.6444381078084,"wires":[["e01e235b.d9f54","3600ee40.0deca2"]]},{"id":"e18e6e6d.7892e","type":"ui_text","z":"2203770b.f0dea8","group":"8ed7c0e8.96c07","order":1,"width":0,"height":0,"name":"Temperature","label":"","format":"{{msg.payload}}&degC","layout":"col-center","x":1382.5876600477432,"y":1010.1394551595051,"wires":[]},{"id":"910cb0b3.5539","type":"ui_text","z":"2203770b.f0dea8","group":"2ef66ef0.a79152","order":0,"width":0,"height":0,"name":"Humidity","label":"","format":"{{msg.payload}}%","layout":"col-center","x":1372.5875379774307,"y":1046.1394551595051,"wires":[]},{"id":"e01e235b.d9f54","type":"ui_text","z":"2203770b.f0dea8","group":"2a81a9a2.004b16","order":0,"width":0,"height":0,"name":"Light","label":"","format":"{{msg.payload}} LUM","layout":"col-center","x":1362.5877210828994,"y":1082.1394704182942,"wires":[]},{"id":"8266fc1b.c1cdf","type":"ui_chart","z":"2203770b.f0dea8","name":"Temperature","group":"8ed7c0e8.96c07","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1530.7695448133682,"y":1009.9576314290364,"wires":[[],[]]},{"id":"1885ed0d.99fc53","type":"ui_chart","z":"2203770b.f0dea8","name":"Humidity","group":"2ef66ef0.a79152","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1500.7696058485244,"y":1044.9576314290364,"wires":[[],[]]},{"id":"3600ee40.0deca2","type":"ui_chart","z":"2203770b.f0dea8","name":"Light","group":"2a81a9a2.004b16","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1471.7695448133682,"y":1081.9576352437336,"wires":[[],[]]},{"id":"192ea180.431d8f","type":"function","z":"2203770b.f0dea8","name":"Motion","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Motion;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1256.6000061035156,"y":44.200002670288086,"wires":[["703dc74d.cbee68"]]},{"id":"f02bf918.4b32c8","type":"function","z":"2203770b.f0dea8","name":"Motion","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Motion;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1251.6000061035156,"y":130.19999885559082,"wires":[["c6ca582f.38e8e8"]]},{"id":"36759cb2.e969a4","type":"function","z":"2203770b.f0dea8","name":"Motion","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Motion;\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1254.5999755859375,"y":89.19999694824219,"wires":[["2ffa76a6.5ad49a"]]},{"id":"703dc74d.cbee68","type":"ui_chart","z":"2203770b.f0dea8","name":"Motion","group":"d486a30c.ca40c","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1389.4000434875488,"y":42.199997901916504,"wires":[[],[]]},{"id":"2ffa76a6.5ad49a","type":"ui_chart","z":"2203770b.f0dea8","name":"Motion","group":"2e835ee.e860ba2","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1381.3999938964844,"y":88.20000267028809,"wires":[[],[]]},{"id":"c6ca582f.38e8e8","type":"ui_chart","z":"2203770b.f0dea8","name":"Motion","group":"64bcc4c.df9e63c","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"step","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":1383.3999938964844,"y":131.2000036239624,"wires":[[],[]]},{"id":"5655716b.87c67","type":"http request","z":"2203770b.f0dea8","name":"","method":"use","ret":"txt","url":"","tls":"","x":811.6001319885254,"y":1082.350284576416,"wires":[[]]},{"id":"552a4b.1dde35b4","type":"function","z":"2203770b.f0dea8","name":"Color Conversion","func":"var newMsg ={};\n\nnewMsg.method = \"POST\";\nnewMsg.headers =\"Content-Type: application/json\";\n\nnewMsg.payload = {};\nmsg.payload = (msg.payload.split(\"(\")[1]).split(\")\")[0];\nnewMsg.payload.R = msg.payload.split(\",\")[0];\nnewMsg.payload.G = (msg.payload.split(\",\")[1]).split(\" \")[1];\nnewMsg.payload.B = (msg.payload.split(\",\")[2]).split(\" \")[1];\nif (msg.payload.split(\",\")[3])\n{\n    \n    newMsg.payload.W = String(parseInt((1-parseFloat((msg.payload.split(\",\")[3]).split(\" \")[1]))*255));\n}\nelse\n{\n    newMsg.payload.W = \"0\";\n}\nnewMsg.url = \"http://192.168.1.10:5000\"+msg.topic;\nreturn newMsg;","outputs":1,"noerr":0,"x":510.3001251220703,"y":1062.9504051208496,"wires":[["5655716b.87c67"]]},{"id":"29607a1d.051586","type":"function","z":"2203770b.f0dea8","name":"Slider Conversion","func":"var newMsg ={};\n\nnewMsg.method = \"POST\";\nnewMsg.headers =\"Content-Type: application/json\";\n\nnewMsg.payload = {};\nnewMsg.payload.R = \"0\";\nnewMsg.payload.G = \"0\";\nnewMsg.payload.B = \"0\";\nnewMsg.payload.W = msg.payload.toString();\nnewMsg.url = \"http://192.168.1.10:5000\"+msg.topic;\nreturn newMsg;","outputs":1,"noerr":0,"x":507.3000907897949,"y":1098.9504203796387,"wires":[["5655716b.87c67"]]},{"id":"4799a87b.893fd8","type":"ui_colour_picker","z":"c97d2a28.6cfb38","name":"","label":"Presentation","group":"9900e489.314a58","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":true,"showLightness":true,"order":1,"width":0,"height":0,"passthru":true,"topic":"/zone/presentation","x":132.19999313354492,"y":229.99984169006348,"wires":[["b69bd508.19abd8"]]},{"id":"cb1ea691.86bad8","type":"ui_switch","z":"c97d2a28.6cfb38","name":"","label":"Presentation","group":"9900e489.314a58","order":3,"width":0,"height":0,"passthru":true,"topic":"/zone/PRESENTATION","style":"","onvalue":"100","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":107.20001602172852,"y":191.0000057220459,"wires":[["5e383d06.881b14"]]},{"id":"f47f424.3dc5dc","type":"range","z":"c97d2a28.6cfb38","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"scale","round":true,"name":"","x":328.1999855041504,"y":183.20001792907715,"wires":[["8cc522d5.1d558"]]},{"id":"2acafadd.f7b306","type":"subflow:c97d2a28.6cfb38","z":"2203770b.f0dea8","x":146.0999755859375,"y":840.8004465103149,"wires":[["29607a1d.051586"],["552a4b.1dde35b4"],["c959d4be.2091a8"]]},{"id":"d3480fdb.95ed8","type":"ui_colour_picker","z":"2066f6fb.01093a","name":"","label":"Accueil","group":"fe5b0a7c.e63ea8","format":"rgb","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showAlpha":true,"showLightness":true,"order":0,"width":0,"height":0,"passthru":true,"topic":"/zone/Accueil","x":127.19999694824219,"y":188.1999969482422,"wires":[["eb99fd3b.2fef2"]]},{"id":"f84de732.6664d8","type":"ui_switch","z":"2066f6fb.01093a","name":"","label":"Accueil","group":"fe5b0a7c.e63ea8","order":0,"width":0,"height":0,"passthru":false,"topic":"/zone/Accueil","style":"","onvalue":"100","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":127.20001602172852,"y":154.20016193389893,"wires":[["96839de1.3e933"]]},{"id":"be42c98d.690758","type":"range","z":"2066f6fb.01093a","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"scale","round":true,"name":"","x":293.1999702453613,"y":145.40016078948975,"wires":[["1213307d.4f5d8"]]},{"id":"a96ab003.0ba7a","type":"subflow:2066f6fb.01093a","z":"2203770b.f0dea8","name":"","x":155.0999755859375,"y":789.4003467559814,"wires":[["29607a1d.051586"],["552a4b.1dde35b4"],["c959d4be.2091a8"]]},{"id":"d0b71f21.c53fa","type":"ui_switch","z":"bd06be4.25e8a4","name":"","label":"Wikihouse_1","group":"11b2f530.cecc9b","order":0,"width":0,"height":0,"passthru":true,"topic":"/zone/Wikihouse_1","style":"","onvalue":"100","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":186.74999237060547,"y":95.25000190734863,"wires":[["9d7de192.0870d"]]},{"id":"2bf55de5.887192","type":"range","z":"bd06be4.25e8a4","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"scale","round":true,"name":"","x":339.2499465942383,"y":138.94999504089355,"wires":[["70af3e93.3730d"]]},{"id":"38bccb88.d2dca4","type":"subflow:bd06be4.25e8a4","z":"2203770b.f0dea8","x":146.6251678466797,"y":885.0003499984741,"wires":[["29607a1d.051586"],["c959d4be.2091a8"]]},{"id":"164bed92.cc0082","type":"ui_switch","z":"da08c8a0.f68208","name":"","label":"Wikihouse_2","group":"294b3150.40bd6e","order":0,"width":0,"height":0,"passthru":true,"topic":"/zone/Wikihouse_2","style":"","onvalue":"100","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":185.24998474121094,"y":125.24999237060547,"wires":[["34cef5a5.7b285a"]]},{"id":"fd5885.997bc778","type":"range","z":"da08c8a0.f68208","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"scale","round":true,"name":"","x":339.2499465942383,"y":166.44999504089355,"wires":[["5570c2ff.de196c"]]},{"id":"b1771415.554298","type":"subflow:da08c8a0.f68208","z":"2203770b.f0dea8","x":146.12531280517578,"y":921.0003032684326,"wires":[["29607a1d.051586"],["c959d4be.2091a8"]]},{"id":"4ceef781.192158","type":"ui_switch","z":"7888cb51.1bc834","name":"","label":"Wikihouse_3","group":"73f5b1db.e0aa","order":0,"width":0,"height":0,"passthru":true,"topic":"/zone/Wikihouse_3","style":"","onvalue":"100","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":151.49998474121094,"y":130.24998474121094,"wires":[["d04f0cac.455b4"]]},{"id":"7292e36b.66153c","type":"range","z":"7888cb51.1bc834","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"scale","round":true,"name":"","x":305.4999465942383,"y":171.44998741149902,"wires":[["6dbda48c.52a19c"]]},{"id":"274a0c9b.77e1f4","type":"subflow:7888cb51.1bc834","z":"2203770b.f0dea8","x":147.12531280517578,"y":954.5003051757812,"wires":[["29607a1d.051586"],["c959d4be.2091a8"]]},{"id":"2100d46c.41f47c","type":"ui_switch","z":"a63a40e9.8f52a","name":"","label":"Squad_1","group":"172f139c.33159c","order":0,"width":0,"height":0,"passthru":true,"topic":"/zone/Squad_1","style":"","onvalue":"100","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":150.24998474121094,"y":137.74998474121094,"wires":[["b83d6a44.2b2868"]]},{"id":"aaecc1b5.aeb27","type":"range","z":"a63a40e9.8f52a","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"scale","round":true,"name":"","x":314.2499465942383,"y":178.94998741149902,"wires":[["e61a47f5.14a3f8"]]},{"id":"607a029c.1caefc","type":"ui_switch","z":"ccf552ed.7fb6a","name":"","label":"Squad_2","group":"463905db.2f43dc","order":0,"width":0,"height":0,"passthru":true,"topic":"/zone/Squad_2","style":"","onvalue":"100","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":129,"y":207.7500057220459,"wires":[["e7c7c406.650668"]]},{"id":"af1896e4.1dc378","type":"range","z":"ccf552ed.7fb6a","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"scale","round":true,"name":"","x":294.2499465942383,"y":148.94999504089355,"wires":[["f1616bd.cb8ea98"]]},{"id":"fbc9379f.f96088","type":"ui_switch","z":"6e2143.b2d8febc","name":"","label":"Squad_3","group":"e3b010f4.a3c8d","order":0,"width":0,"height":0,"passthru":true,"topic":"/zone/Squad_3","style":"","onvalue":"100","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":146.49998474121094,"y":75.24999237060547,"wires":[["5fb5e09a.bb8cb"]]},{"id":"1124d48b.3b0c8b","type":"range","z":"6e2143.b2d8febc","minin":"0","maxin":"100","minout":"0","maxout":"255","action":"scale","round":true,"name":"","x":310.4999465942383,"y":116.44999504089355,"wires":[["6ea778b0.f91f88"]]},{"id":"ce32ea4.73c3a18","type":"subflow:a63a40e9.8f52a","z":"2203770b.f0dea8","x":160.12531280517578,"y":1055.5002098083496,"wires":[["29607a1d.051586"],["c959d4be.2091a8"]]},{"id":"ed0f1bd4.f6bff8","type":"subflow:ccf552ed.7fb6a","z":"2203770b.f0dea8","name":"","x":159.62530899047852,"y":1022.0002098083496,"wires":[["29607a1d.051586"],["c959d4be.2091a8"]]},{"id":"e800753.42a7c88","type":"subflow:6e2143.b2d8febc","z":"2203770b.f0dea8","x":155.3751678466797,"y":987.250207901001,"wires":[["29607a1d.051586"],["c959d4be.2091a8"]]},{"id":"6069c9e4.fe9b68","type":"ui_button","z":"2203770b.f0dea8","name":"","group":"605cbb86.ac7804","order":0,"width":0,"height":0,"label":"All off","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"/all_off","x":172.45030975341797,"y":1088.0503101348877,"wires":[["7f6fc4f9.085a6c"]]},{"id":"7f6fc4f9.085a6c","type":"function","z":"2203770b.f0dea8","name":"All_on/off button","func":"var newMsg ={};\n\nnewMsg.method = \"POST\";\nnewMsg.url = \"http://192.168.1.10:5000\"+msg.topic;\nreturn newMsg;","outputs":1,"noerr":0,"x":517.3001251220703,"y":1134.7502117156982,"wires":[["5655716b.87c67"]]},{"id":"e71f9a6d.7a1b68","type":"ui_button","z":"2203770b.f0dea8","name":"","group":"605cbb86.ac7804","order":0,"width":0,"height":0,"label":"All on","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"/all_on","x":173.55011367797852,"y":1120.2502136230469,"wires":[["7f6fc4f9.085a6c"]]},{"id":"da3c60a7.5ee19","type":"ui_button","z":"2203770b.f0dea8","name":"","group":"605cbb86.ac7804","order":0,"width":0,"height":0,"label":"All rgb on","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"/all_rgb_on","x":164.55011367797852,"y":1153.2502155303955,"wires":[["7f6fc4f9.085a6c"]]},{"id":"b170677c.e89908","type":"ui_button","z":"2203770b.f0dea8","name":"","group":"605cbb86.ac7804","order":0,"width":0,"height":0,"label":"All rgb off","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"/all_rgb_off","x":165.55011749267578,"y":1188.2502174377441,"wires":[["7f6fc4f9.085a6c"]]},{"id":"a7dc11c9.c617b","type":"ui_switch","z":"2203770b.f0dea8","name":"","label":"Active lights","group":"605cbb86.ac7804","order":0,"width":0,"height":0,"passthru":true,"topic":"/active_light","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":147.1251678466797,"y":747.5001020431519,"wires":[["46bd2289.f9f48c"]]},{"id":"113a07c4.ea8728","type":"http request","z":"2203770b.f0dea8","name":"","method":"use","ret":"txt","url":"","tls":"","x":744.10009765625,"y":293.3875093460083,"wires":[[]]},{"id":"942947c4.9f2358","type":"function","z":"2203770b.f0dea8","name":"","func":"var newMsg ={};\n\nnewMsg.method = \"POST\";\nnewMsg.headers =\"Content-Type: application/json\";\n\nnewMsg.payload = msg.payload;\nnewMsg.url = \"http://192.168.1.10:5000/lora\";\nreturn newMsg;\n","outputs":1,"noerr":0,"x":596.1000900268555,"y":272.00000953674316,"wires":[["113a07c4.ea8728","75891981.266dc8"]]},{"id":"46bd2289.f9f48c","type":"function","z":"2203770b.f0dea8","name":"active lights button","func":"var newMsg ={};\n\nif (msg.payload == 0)\n{\n    newMsg.method = \"DELETE\";\n}\nelse if (msg.payload == 1)\n{\n    newMsg.method = \"POST\";\n}\n\n\nnewMsg.url = \"http://192.168.1.10:5000\"+msg.topic;\nreturn newMsg;","outputs":1,"noerr":0,"x":514.5003204345703,"y":1027.3001108169556,"wires":[["5655716b.87c67"]]},{"id":"1415e070.cba2b","type":"inject","z":"2203770b.f0dea8","name":"","topic":"/all_off","payload":"","payloadType":"date","repeat":"","crontab":"05 19 * * *","once":false,"x":136.10011291503906,"y":1221.9001197814941,"wires":[["c9a1ff33.67176"]]},{"id":"c9a1ff33.67176","type":"function","z":"2203770b.f0dea8","name":"All _off","func":"var newMsg ={};\nnewMsg.method = \"POST\";\nnewMsg.url = \"http://192.168.1.10:5000\"+msg.topic;\nreturn newMsg;","outputs":1,"noerr":0,"x":547.8001251220703,"y":1170.5001163482666,"wires":[["5655716b.87c67"]]},{"id":"75891981.266dc8","type":"debug","z":"2203770b.f0dea8","name":"","active":false,"console":"false","complete":"false","x":745.3000030517578,"y":255.4000186920166,"wires":[]},{"id":"cf55e310.760ab","type":"ui_chart","z":"2203770b.f0dea8","name":"Battery","group":"828fd44a.f87218","order":1,"width":"0","height":"0","label":"","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"bezier","nodata":"No Data","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":946.8000030517578,"y":66.0000057220459,"wires":[[],[]]},{"id":"bb2c7f07.b7f9d","type":"function","z":"2203770b.f0dea8","name":"Battery","func":"\nvar newMsg ={};\nnewMsg.payload = msg.payload.Battery;\nnewMsg.topic = msg.payload.DevEUI;\nreturn newMsg;","outputs":1,"noerr":0,"x":796.4667358398438,"y":66.58586502075195,"wires":[["cf55e310.760ab"]]},{"id":"5e383d06.881b14","type":"ui_numeric","z":"c97d2a28.6cfb38","name":"","label":"Presentation","group":"9900e489.314a58","order":4,"width":0,"height":0,"passthru":true,"topic":"/zone/PRESENTATION","format":"{{value}} %","min":0,"max":"100","step":"10","x":133.1000099182129,"y":153.8000030517578,"wires":[["f47f424.3dc5dc"]]},{"id":"96839de1.3e933","type":"ui_numeric","z":"2066f6fb.01093a","name":"","label":"Acceuil","group":"fe5b0a7c.e63ea8","order":0,"width":0,"height":0,"passthru":true,"topic":"/zone/ACCUEIL","format":"{{value}} %","min":0,"max":"100","step":"10","x":134.00001525878906,"y":117.00000953674316,"wires":[["be42c98d.690758"]]},{"id":"9d7de192.0870d","type":"ui_numeric","z":"bd06be4.25e8a4","name":"","label":"Wikihouse_1","group":"11b2f530.cecc9b","order":0,"width":0,"height":0,"passthru":true,"topic":"/zone/Wikihouse_1","format":"{{value}} %","min":0,"max":"100","step":"10","x":182.00000762939453,"y":141.00000762939453,"wires":[["2bf55de5.887192"]]},{"id":"34cef5a5.7b285a","type":"ui_numeric","z":"da08c8a0.f68208","name":"","label":"Wikihouse_2","group":"294b3150.40bd6e","order":0,"width":0,"height":0,"passthru":true,"topic":"/zone/Wikihouse_2","format":"{{value}} %","min":0,"max":"100","step":"10","x":184.00000762939453,"y":171.0000057220459,"wires":[["fd5885.997bc778"]]},{"id":"d04f0cac.455b4","type":"ui_numeric","z":"7888cb51.1bc834","name":"","label":"Wikihouse_3","group":"73f5b1db.e0aa","order":0,"width":0,"height":0,"passthru":true,"topic":"/zone/Wikihouse_3","format":"{{value}} %","min":0,"max":"100","step":"10","x":151.00000762939453,"y":178.00000667572021,"wires":[["7292e36b.66153c"]]},{"id":"b83d6a44.2b2868","type":"ui_numeric","z":"a63a40e9.8f52a","name":"","label":"Squad_1","group":"172f139c.33159c","order":0,"width":0,"height":0,"passthru":true,"topic":"/zone/Squad_1","format":"{{value}} %","min":0,"max":"100","step":"10","x":156.00000762939453,"y":183.00000762939453,"wires":[["aaecc1b5.aeb27"]]},{"id":"e7c7c406.650668","type":"ui_numeric","z":"ccf552ed.7fb6a","name":"","label":"Squad_2","group":"463905db.2f43dc","order":0,"width":0,"height":0,"passthru":true,"topic":"/zone/Squad_2","format":"{{value}} %","min":0,"max":"100","step":"10","x":130.00000381469727,"y":156.0000057220459,"wires":[["af1896e4.1dc378"]]},{"id":"5fb5e09a.bb8cb","type":"ui_numeric","z":"6e2143.b2d8febc","name":"","label":"Squad_3","group":"e3b010f4.a3c8d","order":0,"width":0,"height":0,"passthru":true,"topic":"/zone/Squad_3","format":"{{value}} %","min":0,"max":"100","step":"10","x":149.00000762939453,"y":120.0000057220459,"wires":[["1124d48b.3b0c8b"]]},{"id":"c959d4be.2091a8","type":"function","z":"2203770b.f0dea8","name":"light_level button","func":"var newMsg ={};\n\nnewMsg.method = \"PUT\";\nnewMsg.headers =\"Content-Type: application/json\";\n\nnewMsg.payload = {};\nnewMsg.payload.light = parseInt(msg.payload);\n\nnewMsg.url = \"http://192.168.1.10:5000\"+msg.topic;\nreturn newMsg;","outputs":1,"noerr":0,"x":511.800048828125,"y":990.1000576019287,"wires":[["6e76163.f8d3ee8","5655716b.87c67"]]},{"id":"1213307d.4f5d8","type":"function","z":"2066f6fb.01093a","name":"Set msg Topic","func":"msg.topic = \"/zone/ACCUEIL\"\nreturn msg;","outputs":1,"noerr":0,"x":467.10005950927734,"y":130.8000316619873,"wires":[[]]},{"id":"eb99fd3b.2fef2","type":"function","z":"2066f6fb.01093a","name":"Set msg Topic","func":"msg.topic = \"/zone/ACCUEIL\"\nreturn msg;","outputs":1,"noerr":0,"x":456.00003814697266,"y":189.0000171661377,"wires":[[]]},{"id":"5570c2ff.de196c","type":"function","z":"da08c8a0.f68208","name":"Set msg Topic","func":"msg.topic = \"/zone/Wikihouse_2\"\nreturn msg;","outputs":1,"noerr":0,"x":511.00001525878906,"y":166.00000381469727,"wires":[[]]},{"id":"8cc522d5.1d558","type":"function","z":"c97d2a28.6cfb38","name":"Set msg Topic","func":"msg.topic = \"/zone/presentation\"\nreturn msg;","outputs":1,"noerr":0,"x":482,"y":186,"wires":[[]]},{"id":"b69bd508.19abd8","type":"function","z":"c97d2a28.6cfb38","name":"Set msg Topic","func":"msg.topic = \"/zone/presentation\"\nreturn msg;","outputs":1,"noerr":0,"x":480.00001525878906,"y":234.00000667572021,"wires":[[]]},{"id":"70af3e93.3730d","type":"function","z":"bd06be4.25e8a4","name":"Set msg Topic","func":"msg.topic = \"/zone/Wikihouse_1\"\nreturn msg;","outputs":1,"noerr":0,"x":525,"y":136,"wires":[[]]},{"id":"6dbda48c.52a19c","type":"function","z":"7888cb51.1bc834","name":"Set msg Topic","func":"msg.topic = \"/zone/Wikihouse_3\"\nreturn msg;","outputs":1,"noerr":0,"x":466.00001525878906,"y":171.00000190734863,"wires":[[]]},{"id":"e61a47f5.14a3f8","type":"function","z":"a63a40e9.8f52a","name":"Set msg Topic","func":"msg.topic = \"/zone/Squad_1\"\nreturn msg;","outputs":1,"noerr":0,"x":474,"y":182,"wires":[[]]},{"id":"f1616bd.cb8ea98","type":"function","z":"ccf552ed.7fb6a","name":"Set msg Topic","func":"msg.topic = \"/zone/Squad_2\"\nreturn msg;","outputs":1,"noerr":0,"x":466.00001525878906,"y":148.00000476837158,"wires":[[]]},{"id":"6ea778b0.f91f88","type":"function","z":"6e2143.b2d8febc","name":"Set msg Topic","func":"msg.topic = \"/zone/Squad_3\"\nreturn msg;","outputs":1,"noerr":0,"x":462.00003814697266,"y":115.00000333786011,"wires":[[]]},{"id":"da1b3200.f7fa2","type":"function","z":"c97d2a28.6cfb38","name":"Set msg Topic light1","func":"msg.topic = msg.topic+\"presentation\"\nreturn msg;","outputs":1,"noerr":0,"x":462.00001525878906,"y":120.00000381469727,"wires":[[]]},{"id":"dae940ae.48cc5","type":"function","z":"2066f6fb.01093a","name":"Set msg Topic light1","func":"msg.topic = msg.topic+\"ACCUEIL\"\nreturn msg;","outputs":1,"noerr":0,"x":438.00001525878906,"y":84.00000381469727,"wires":[[]]},{"id":"5bde5e9d.dd7cb","type":"function","z":"bd06be4.25e8a4","name":"Set msg Topic light1","func":"msg.topic = msg.topic+\"Wikihouse_1\"\nreturn msg;","outputs":1,"noerr":0,"x":447.0000457763672,"y":228.00000762939453,"wires":[[]]},{"id":"8e84c21a.5e585","type":"function","z":"da08c8a0.f68208","name":"Set msg Topic light1","func":"msg.topic = msg.topic+\"WIKIHOUSE_2\"\nreturn msg;","outputs":1,"noerr":0,"x":440.00003814697266,"y":246.00000858306885,"wires":[[]]},{"id":"3a5e5fac.1c3cf","type":"function","z":"7888cb51.1bc834","name":"Set msg Topic light1","func":"msg.topic = msg.topic+\"Wikihouse_3\"\nreturn msg;","outputs":1,"noerr":0,"x":407.0000343322754,"y":247.00000762939453,"wires":[[]]},{"id":"f57b0f94.7e688","type":"function","z":"a63a40e9.8f52a","name":"Set msg Topic light1","func":"msg.topic = msg.topic+\"Squad_1\"\nreturn msg;","outputs":1,"noerr":0,"x":414.00003814697266,"y":252.00000953674316,"wires":[[]]},{"id":"133e757b.a1fe8b","type":"function","z":"ccf552ed.7fb6a","name":"Set msg Topic light1","func":"msg.topic = msg.topic+\"Squad_2\"\nreturn msg;","outputs":1,"noerr":0,"x":399.0000343322754,"y":280.00000953674316,"wires":[[]]},{"id":"95ee85bb.59f568","type":"function","z":"6e2143.b2d8febc","name":"Set msg Topic light1","func":"msg.topic = msg.topic+\"Squad_3\"\nreturn msg;","outputs":1,"noerr":0,"x":417.0000343322754,"y":197.00000667572021,"wires":[[]]},{"id":"6e76163.f8d3ee8","type":"debug","z":"2203770b.f0dea8","name":"","active":true,"console":"false","complete":"true","x":587.9003791809082,"y":884.0001392364502,"wires":[]},{"id":"9707940e.63c188","type":"ui_text_input","z":"c97d2a28.6cfb38","name":"","label":"Light_level_1","group":"6bea1df7.b95934","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"/zone_light1/","x":193.10001373291016,"y":70.00000953674316,"wires":[["da1b3200.f7fa2"]]},{"id":"67cd2e5c.3fd38","type":"ui_text_input","z":"c97d2a28.6cfb38","name":"","label":"Light_level_2","group":"6bea1df7.b95934","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"/zone_light2/","x":192.00000762939453,"y":103.00000953674316,"wires":[["da1b3200.f7fa2"]]},{"id":"c2f87821.f86828","type":"ui_text_input","z":"2066f6fb.01093a","name":"","label":"Light_level_1","group":"598fe045.9fad1","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"/zone_light1/","x":195.00001907348633,"y":27.000001907348633,"wires":[["dae940ae.48cc5"]]},{"id":"d3d8d916.df4c48","type":"ui_text_input","z":"2066f6fb.01093a","name":"","label":"Light_level_2","group":"598fe045.9fad1","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"/zone_light2/","x":186.89999389648438,"y":60,"wires":[["dae940ae.48cc5"]]},{"id":"7e2e7ad2.0e3da4","type":"ui_text_input","z":"bd06be4.25e8a4","name":"","label":"Light_level_1","group":"a23c4308.c595c","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"/zone_light1/","x":182,"y":193,"wires":[["5bde5e9d.dd7cb"]]},{"id":"c80ccdc6.f411e","type":"ui_text_input","z":"bd06be4.25e8a4","name":"","label":"Light_level_2","group":"a23c4308.c595c","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"/zone_light2/","x":180.89999389648438,"y":226,"wires":[["5bde5e9d.dd7cb"]]},{"id":"1f8a5535.283a6b","type":"ui_text_input","z":"da08c8a0.f68208","name":"","label":"Light_level_1","group":"52607014.8e0a","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"/zone_light1/","x":185,"y":220,"wires":[["8e84c21a.5e585"]]},{"id":"a71d7757.c3ea78","type":"ui_text_input","z":"da08c8a0.f68208","name":"","label":"Light_level_2","group":"52607014.8e0a","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"/zone_light2/","x":183.89999389648438,"y":253,"wires":[["8e84c21a.5e585"]]},{"id":"fb23dced.de8e2","type":"ui_text_input","z":"7888cb51.1bc834","name":"","label":"Light_level_1","group":"32ed00c2.16f7c","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"/zone_light1/","x":153,"y":225,"wires":[["3a5e5fac.1c3cf"]]},{"id":"8fbbdd90.e344f","type":"ui_text_input","z":"7888cb51.1bc834","name":"","label":"Light_level_2","group":"32ed00c2.16f7c","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"/zone_light2/","x":151.89999389648438,"y":258,"wires":[["3a5e5fac.1c3cf"]]},{"id":"eb937e89.21fca","type":"ui_text_input","z":"a63a40e9.8f52a","name":"","label":"Light_level_1","group":"fa341cb8.f3122","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"/zone_light1/","x":160,"y":232,"wires":[["f57b0f94.7e688"]]},{"id":"ac09e4d3.f8d4f8","type":"ui_text_input","z":"a63a40e9.8f52a","name":"","label":"Light_level_2","group":"fa341cb8.f3122","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"/zone_light2/","x":158.89999389648438,"y":265,"wires":[["f57b0f94.7e688"]]},{"id":"8ceb298b.6c3718","type":"ui_text_input","z":"ccf552ed.7fb6a","name":"","label":"Light_level_1","group":"ce56c7ed.e91e18","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"/zone_light1/","x":142.10000610351562,"y":258,"wires":[["133e757b.a1fe8b"]]},{"id":"edb02bde.c05648","type":"ui_text_input","z":"ccf552ed.7fb6a","name":"","label":"Light_level_2","group":"ce56c7ed.e91e18","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"/zone_light2/","x":141,"y":291,"wires":[["133e757b.a1fe8b"]]},{"id":"eb351aee.83e6a8","type":"ui_text_input","z":"6e2143.b2d8febc","name":"","label":"Light_level_1","group":"6e09fd3a.c0b304","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"/zone_light1/","x":164,"y":172,"wires":[["95ee85bb.59f568"]]},{"id":"9d623744.1b1608","type":"ui_text_input","z":"6e2143.b2d8febc","name":"","label":"Light_level_2","group":"6e09fd3a.c0b304","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"/zone_light2/","x":162.89999389648438,"y":205,"wires":[["95ee85bb.59f568"]]}]